[Unit]
Description=Scoreboard for jeopardy-style CTF
Requires=postgresql.service
After=postgresql.service

[Service]
User=henhouse
Group=henhouse
WorkingDirectory=/var/lib/henhouse/
ExecStart=/bin/bash -c "/usr/bin/henhouse /etc/henhouse.toml ${EXTRA}"
ExecStartPost=/bin/sh -c 'echo EXTRA="" > /var/run/henhouse/extra'
EnvironmentFile=/var/run/henhouse/extra

[Install]
WantedBy=multi-user.target
