[Service]
Type=oneshot
User=henhouse
Group=henhouse
ExecStart=/bin/sh -c "echo EXTRA=--reinit > /run/henhouse/extra"
ExecStart=/bin/systemctl restart henhouse
