/* from https://fonts.googleapis.com/css?family=Open+Sans */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:before, *:after {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
          }

body {
    margin: 0px;
    background: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #222222;
}

.full {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 740px){
    .full {
        min-width: 740px;
    }
}

.full.auth{
    min-width: 200px;
}


.center {
    display: block;
    text-align: -webkit-center;
    text-align: center;
}

.container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

.account-wall {
    display: inline-block;
    width: 50%;
}

.float-left {
    float: left;
}

#header {
    width: 100%;
    display: table;
    padding: 0;
    background: #4c4c4c;
    margin-top: 0px;
    margin-bottom: 0;
    list-style: none;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.header_link{
    float: left;
    margin-bottom: 0;
    position: relative;
    display: block;
}

#header:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    display: table;
}

#header:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    display: table;
}

.header_link>a {
    text-decoration: none;
    line-height: 1.4;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #4c4c4c;
    color: #c5c5c5;
}

.header_link>a:hover, .header_link>a:focus {
                          text-decoration: none;
                          background-color: #000000;
                          color: #fff;
                          outline: 0;
                      }

.header_link.active>a, .header_link.active>a:hover, .header_link.active>a:focus {
                                                        color: #ffffff;
                                                        background-color: #9ec37c;
                                                        border-bottom-color: transparent;
                                                        cursor: default;
                                                    }

#info {
    float: right;
}

#info>span{
    display: inline-block;
    float: right;

    background-color: #4c4c4c;

    font-weight: 300;
    font-size: 19px;
    text-align: center;
    line-height: 1.4;

    white-space: normal;
    word-break: break-all;

    padding: 10px 15px;
    margin-bottom: 0;
    vertical-align: middle;
}

#timer {
    max-width: 160px;
    color: #fff;
}

#game_status-run {
    color: #9ec37c;
}

#game_status-stop {
    color: #f77c7c;
}

#content {
    text-align: center;
    margin: 30px;
}

#juniorstext {
    width: 30%;
}

@media (max-width: 992px) {
    #juniorstext {
        width: 50%;
    }
}

@media (max-width: 768px){
    #juniorstext {
        width: 50%;
    }
}


#tasks-table {
    text-align: center;
    overflow: hidden;
}


@media (max-width: 992px) {
    #auth_logo {
        text-align: center;
    }
}




#white_block {
    background-color: #f7f7f7;
    text-align: center;
    overflow: hidden;
    padding: 30px;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#task_header {
    font-size: 33px;
    padding-bottom: 20px;
}

#task_body {
    text-align: center;
    overflow-x: auto;
    margin: 0 auto;
}

#task_body>table {
    text-align: left;
    padding: 0 10px 10px 10px;
    margin:0 auto;
}

#task_body>div {
    margin:0 auto;
}

#task_body>table>tbody>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 1110px) {
    #task_body>table>tbody>tr>td {
        vertical-align: top;
        display: block;
        width: 100%;
    }
}

#white_block>table {
    text-align: left;
    padding: 0 10px 10px 10px;
}

#white_block>table>tbody>tr>td {
    vertical-align: middle;
}


@media screen and (max-width: 1110px) {
    #white_block>table>tbody>tr>td {
        vertical-align: top;
        display: block;
        width: 100%;
    }
}



.white_block-text {
    text-align: left;
    padding: 10px;
    font-size: 125%;
}

.code_block {
    text-align: left;
    padding: 10px;
    font-size: 125%;
    width: 100%;
}

.code_block>details {
    cursor: pointer;
}

.code_block>details>summary {
    outline: none;
}

.code_block>details>pre {
    cursor: auto;
    overflow-x: auto;
}

.flag_status {
    display: inline-table;

    color: #ffffff;
    background-color: #4c4c4c;

    overflow: hidden;
    padding: 30px;
    white-space: normal;
    word-break: break-word;
    font-size: 24px;
    border-spacing: 0;
    width: 100%;
    max-width: 300px;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.flag_status.invalid {
    color: #f77c7c;
}


.flag_status.solved{
    color: #9ec37c;
}





#scoreboard-table {
    display: inline-table;

    color: #ffffff;
    background-color: #4c4c4c;

    overflow: hidden;
    padding: 30px;
    white-space: normal;
    word-break: break-word;
    font-size: 19px;
    border-spacing: 0;
    width: 100%;
    max-width: 900px;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#scoreboard-table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

#scoreboard-table>thead>tr>th {
    padding: 0px 8px 8px 8px;
    vertical-align: bottom;
    text-align: left;
    line-height: 1.4;
    font-weight: 400;
}

#scoreboard-table>tbody>tr>td {
    padding: 8px;
    vertical-align: top;
    text-align: left;
    line-height: 1.4;
    font-weight: 300;
}

#scoreboard-table>tbody>tr:hover {
    background-color:#444;
}

#scoreboard-table>tbody>tr>td.team_index {
    width: 10%;
}

#scoreboard-table>tbody>tr>td.team_name {
    width: 70%;
}

#scoreboard-table>tbody>tr>td.team_score {
    width: 20%;
}

.self_team {
    background-color:#444;
}







.input-group {
    display: inline-table;
    position: relative;
    border-collapse: separate;
    width: 400px;
}

.form-control {
    display: block;
    position: relative;

    z-index: 2;

    width: 100%;
    height: 39px;
    margin-bottom: 0;
    padding: 8px 12px;

    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
    border-color:#66afe9;
    outline:0;

    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.form-control::-moz-placeholder{
    color:#999999;
    opacity:1;
}

.form-control::-webkit-input-placeholder{
    color:#999999;
}

.form-control:-moz-placeholder{
    color:#999999;
    opacity:1;
}

.form-control:-ms-input-placeholder{
    color:#999999;
}

.form-control::-ms-expand{
    border:0;
    background-color:transparent;
}

.input-group-btn {
    display: table-cell;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.btn {
    color: #cccccc;
    background-color: #4c4c4c;
    background-image: none;
    border: 1px solid transparent;
    vertical-align: middle;

    z-index: 2;

    white-space: normal;
    word-break: break-all;

    padding: 8px 12px;
    margin-bottom: 0;

    display: inline-block;

    font-weight: normal;
    text-align: center;

    -webkit-appearance: button;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;

    font-size: 17px;
    line-height: 1.25;
    border-radius: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    color: #ffffff;
    background-color: #252525;
    border-color: none;
}

.btn:active {
    color: #333333;
    background-color: #fff;
    border-color: none;
}

.btn-lg {
    padding: 16px 20px;
    width: 100%;
}

.btn-submit {
    padding: 8px 12px;
    height: 39px;
    width: 100%;
}



.task_block {
    margin: 0px 15px 15px 0px;
    float: none;
    display: inline-table;
    width: 200px;
    cursor: pointer;

    word-break: break-word;
    text-decoration: none;
    vertical-align: top;

    -ms-touch-action: manipulation;
    touch-action: manipulation;

    text-align: center;
    border: none;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);

    /*transition: background-color 0.4s linear;*/
}

.task_block:hover {
    text-decoration: none;
}

.task_block:focus {
    text-decoration: none;
}


.task_block-header {
    color: #fff;
    padding: 10px 10px 0 10px;
    position: relative;
    border-bottom: none;
}

.task_block-name {
    font-size: 17px;
}

.task_block-tags {
    font-size: 15px;
}

.task_block-body {
    line-height: 35px;
    vertical-align: middle;
    padding: 17px;
    font-size: 35px;
    color: #fff;
}

.task_block-footer {
    color: rgba(255, 255, 255, 0.55);
    padding: 10px 0px;
    position: relative;
    border-top: none;
    padding: 0px 10px 17px 10px;
}

.task_block-opened {
    background-color: #4c4c4c;
}

.task_block-opened:hover {
    background-color: #000;
}

.task_block-success {
    background-color: #9ec37c;
}

.task_block-success:hover {
    background-color: #96d45d;
}

.task_block-closed {
    background-color: #828282;
    cursor: not-allowed;
}