/* from https://fonts.googleapis.com/css?family=Open+Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html *
{
    font-family: 'Open Sans', sans-serif !important;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#juniorstext {
    width: 30%;
    height: 30%;
}

#scoreboard-table, #tasks-table, #task {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.9);
    /* http://stackoverflow.com/questions/944663/css-background-color-has-no-effect-on-a-div */
    overflow: hidden;

    padding: 10px;
}

#task table {
    padding: 10px;
    font-size: 125%;
}

h1 {
    font-size: 350%;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.input-group {
    width: 30%;
}

.self-team {
    background: rgba(255, 255, 255, 1);
}