body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#juniorstext {
    width: 30%;
    height: 30%;
}

#scoreboard-table, #tasks-table, #task {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.8);
    /* http://stackoverflow.com/questions/944663/css-background-color-has-no-effect-on-a-div */
    overflow: hidden;
}

#task {
    padding: 10px;
    font-size: 155%;
}

p {
    font-size: 155%;
}

h1 {
    font-size: 350%;
}

.input-group {
    width: 30%;
}