override_dh_fixperms:
    dh_fixperms
    chmod 600 /etc/henhouse.toml
    setfacl -m user:henhouse:rw /etc/henhouse.toml

    chmod 700 /etc/henhouse
    setfacl -m user:henhouse:rwx /etc/henhouse

    setfacl -m user:henhouse:rwx /var/run/henhouse
    setfacl -m user:henhouse:rwx /var/run/henhouse/extra
